<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">  
</head> 


<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>

    <div class="content">
        <header>
            <h1> Wildfires in the U.S.A.  </h1>
        </header>

    <main class="container">

        <section id="desc"> 
            <h2> Description </h2>
        </section>
    
    <section id="info">
        
        <p> This website hosts an up to date collection of interactive maps that show all the current active wildfires in the US as 
            of 12/9/2020, based on data from the National Wildfire Coordinating Group.
        </p>
        
    </section> 

    <section id="pg2">
        <p class="map-desc">
            MARKER MAP<br>
            This map places markers at the locations of all currently active wildfires, with additional details. 
            <center> <a class="map-link" href="/markermap"> Go to Marker map </a> </center>
        </p>

        <p class="map-desc">
            HEATMAP<br>
            This map illustrates the areas of higher fire concentration.
            <center> <a class="map-link" href="/heatmap"> Go to Heatmap </a> </center>
        </p>

        <p class="map-desc">
            CHOROPLETH MAP<br>
            This map illustrates how each state compares in total acreage currently burning.
            <center> <a class="map-link" href="/choropleth"> Go to Choropleth Map </a> </center>
        </p>
    </section>

    </main>
    </div>
    <script type="text/javascript" src="static/js/pixi.js"></script>
</body>

